.navbar{
  background-color: grey;
}

.navbar-brand{
  color: white;
}

.navbar-nav{
  margin-left: 1000px;
}

.jumbotron{
  background-color: rgb(240, 240, 240);
}
.Copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100px;
}

.textC{
  color: white;
  text-align: center;
}